@charset "UTF-8";

body{
    background-color: rgba(0, 132, 255, 0.712);
    color: white;
    text-align: center;
    font: normal 15pt Arial;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: black;
    box-shadow: 3px 3px 10px rgba(0, 0, 139, 0.541);


    text-align: left;
    height: 18em;
}

#central{
    text-align: center;
}

footer{
    font-style: italic;
}