@charset "UTF-8";

body{
    background: rgba(0, 132, 255, 0.712);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;    
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 139, 0.541);
}

#lista{
    width: 150px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}